.features {
  padding-bottom: 60px;
  padding-top: 60px;
  
  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
    padding-top: 94px;
  }
}
.features-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.features-list__item {
 
  @media screen and (min-width: 768px) {
    margin: 15px;
    width: calc(100% / 2 - 30px);
  }
  @media screen and (min-width: 1200px) {
    margin: 15px;
    width: calc(100% / 4 - 30px);
  }
}
.features-list__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}
.features-list__block {
  @extend %list-content-center;
  padding: 25px 0;
  background-color: $secondary-shade-color;

  margin-bottom: 30px;
  border-radius: 4px;
}
.features-list__title {
  color: $primary-color;
  @include font(700, 14px, 1.15, 0.03em);

  margin-bottom: 10px;
}
.features-list__discription {
  color: $primary-shade-2color;
  @include font(400, 14px, 1.7, 0.03em);
  font-size: 14px;
  line-height: 1.7;
}
