.footer-section {
  background-color: $secondary-2color;
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}
.footer-section__container {
  @media screen and (min-width: 768px) {
    display: flex;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.footer-section__contact {
  @media screen and (min-width: 480px) {
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    text-align: center;
    
    
  }
}
.footer-section__social {
  padding-top: 60px;

  @media screen and (min-width: 480px) {
    text-align: center;
  }
  @media screen and (min-width: 768px) {
   text-align: center;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 70px;
    padding-top: 12px;
  }
}

.footer-section__form {
  padding-top: 60px;

  @media screen and (min-width: 480px) {
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    
  }
  @media screen and (min-width: 1200px) {
    margin-left: auto;
    padding-top: 12px;
  }
}
