.mob-menu-nav {
  @media screen and (max-width: 767px) {
    display: block;
    margin-bottom: auto;
  }
}

.nav__link--big-size {
  font-size: 40px;

  &:hover,
  &:focus,
  &.current {
    color: $accent-color;
  }
}
