.mob-menu-nav {
  @media screen and (max-width: 767px) {
    display: block;
    margin-bottom: auto;
  }
}

.nav__link--big-size {
  color: $primary-shade-color;
  font-family: inherit;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  transition: color 250ms linear;

  display: block;
  
  &:hover,
  &:focus,
  &.current {
    color: $accent-color;
  }
}
