.mob-menu {
  position: fixed;
  background-color: $secondary-color; 
  
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 5;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

    @media screen and (min-width: 480px) {   
    display: block; 
  }
  @media screen and (min-width: 768px) {
    display: none; 
  }
  
}

