// .mob-menu-social {
  
// }
.social-text-links {
  display: flex;
  flex-wrap: wrap;
  
}
.social-text-links__item {
@media screen and (max-width: 480px) {
  margin-bottom: 10px;
}
  
}
.social-text-links__item:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid $primary-shade-2color;
}
.social-text-links__link {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: $accent-color;
}
