@mixin font($fw, $fs, $lh, $ls) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
}
@mixin title-margin($mb) {
  margin-bottom: $mb;
}

// %position-two-elements {
//   margin: 15px;
// width: calc(100% / 2 - 30px);
// }
// %position-three-elements {
//   margin: 15px;
// width: calc(100% / 3 - 30px);
// }
// %position-four-elements {
//   margin: 15px;
// width: calc(100% / 4 - 30px);
// }