@mixin font($fw, $fs, $lh, $ls) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
}
@mixin title-margin($mb) {
  margin-bottom: $mb;
}
@mixin bg-img($url, $withGrad: true) {
  @if withGrad {
    background-image: linear-gradient(
        to right,
        rgba($secondary-2color, 0.4),
        rgba($secondary-2color, 0.4)
      ),
      url($url);
  } @else {
    background-image: url($url);
  }
}
