$primary-color: #000000;
$primary-shade-color: #212121;
$primary-shade-2color: #757575;

$secondary-color: #ffffff;
$secondary-shade-color: #f5f4fa;
$secondary-2color: #2f303a;

$accent-color: #2196f3;

$border-color: #eeeeee;
$icon-color: #afb1b8;
